<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-5.0.4.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-5.0.4.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-5.0.4xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-5.0.4.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-5.0.4.xsd">
						
	<!-- to activate annotations in beans already registered in the ApplicationContext -->
	<context:annotation-config />					
  
  <!-- turn on spring transaction annotation -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	<context:component-scan base-package="mz.co.clabs.lucros.*" />
	<mvc:annotation-driven />
	
	<!--entity manager factory  -->
	<bean id="entityManagerFactory"	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource"	ref="dataSource"	/>
		<property name="persistenceUnitName" value="lucros-postgresql"/>
		<property name="jpaVendorAdapter">
			<bean	class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
		</property>		 
	</bean>
	
	<!-- data source -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/lucros" />
        <property name="username" value="postgres" />
        <property name="password" value="postgres" />
    </bean>
    
    <!-- transacao -->
    <bean id="transactionManager"	class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
</beans>
